@model ReviewsSite.Models.HauntedHouse

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div class="HHDetailsContainer">

    <div class="card" style="width: 18rem;">
        @*<img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
            <p class="card-text">
                <ul>
                    <li>Duration: @Html.DisplayFor(model => model.Duration) min.</li>
                    <li>Location: @Html.DisplayFor(model => model.Location)</li>
                    <li>Price: $@Html.DisplayFor(model => model.Price)</li>
                </ul>
            </p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
        <div class="HHLinks">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">Add a review</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


    @*<div class="ReviewDetails">*@

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active"> <p>Swipe to view all reviews</p> </div>

        @foreach (var review in Model.Reviews)
        {
        <div class="carousel-item">

            @*<div class="card" style="width: 30rem;">
        <div class="card-body">*@
            <card>
                <h5 class="card-title">Review By: @review.Author</h5>
                <p class="card-text">
                <p>@review.Comment</p>
                <ul>
                    <li>@review.StarRating Stars</li>
                    <li>@review.Scareablity Scareability Points</li>
                </ul>
                <p>Would you recommend this house? @review.Recommend?Yes:No</p>
                <p>Would you come back? @review.WouldReturn</p>
                </p>

                <div class="HHLinks">
                    <a asp-controller="Review" asp-action="EditReview" asp-route-id="@review.Id">Edit Review</a> |
                    <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@review.Id">Delete Review</a>
                </div>
            </card>
        </div>

        @*</div>*@
        @*</div>*@
    }

    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




    @*</div>*@

</div>
