@model ReviewsSite.Models.HauntedHouse

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div class="HHDetailsContainer">

    <div class="HHDetails">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration) min.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Price)
        </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">Add a review</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

    <div class="ReviewDetails">
        @foreach (var review in Model.Reviews)
        {
            <div class="review">
                <p>@review.StarRating stars</p>
                <p>@review.Scareablity points</p>
                <p>Would you recommend this house? @review.Recommend</p>
                <p>Would you come back? @review.WouldReturn</p>
                <p>@review.Comment</p>
                <p>By: @review.Author</p>
                <a asp-controller="Review" asp-action="EditReview" asp-route-id="@review.Id">Edit Review</a> |
                <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@review.Id">Delete Review</a>
            </div>
        }
    </div>
</div>

