@model ReviewsSite.Models.HauntedHouse

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div class="HHDetailsContainer">

    <div class="card" style="width: 18rem;">
        @*<img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
            <p class="card-text">
                <ul>
                    <li>Duration: @Html.DisplayFor(model => model.Duration) min.</li>
                    <li>Location: @Html.DisplayFor(model => model.Location)</li>
                    <li>Price: $@Html.DisplayFor(model => model.Price)</li>
                </ul>
            </p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
        <div class="HHLinks">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">Add a review</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


    <div class="ReviewDetails">
        @foreach (var review in Model.Reviews)
        {
            @*<div class="review">
                    <p>@review.StarRating stars</p>
                    <p>@review.Scareablity points</p>
                    <p>Would you recommend this house? @review.Recommend</p>
                    <p>Would you come back? @review.WouldReturn</p>
                    <p>@review.Comment</p>
                    <p>By: @review.Author</p>
                    <a asp-controller="Review" asp-action="EditReview" asp-route-id="@review.Id">Edit Review</a> |
                    <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@review.Id">Delete Review</a>
                </div>*@

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Review By: @review.Author</h5>
                    <p class="card-text">
                    <p>@review.Comment</p>
                    <ul>
                        <li>@review.StarRating Stars</li>
                        <li>@review.Scareablity Scareability Points</li>
                    </ul>
                    <p>Would you recommend this house? @review.Recommend?Yes:No</p>
                    <p>Would you come back? @review.WouldReturn</p>
                    </p>
                </div>
                    <div class="HHLinks">
                        <a asp-controller="Review" asp-action="EditReview" asp-route-id="@review.Id">Edit Review</a> |
                        <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@review.Id">Delete Review</a>
                    </div>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        }

    </div>

</div>
